:root {
  --white_1: #ffffff;
  --white_2: #e1e1e1;

  --black_1: #000000;
  --black_2: #020202;
  --black_3: #171717;
  --black_4: #171717;

  --gray_1: #b8c4c2;
  --gray_2: #909090;
  --gray_3: #333333;

  --green_1: #0dce90;

  --red_1: #ff4561;
  --red_2: #ff3263;

  --orange_1: #ffb339;
  --orange_2: #feb01a;
  --orange_3: #fe9d00;

  --blue_1: #61dafb;
  --blue_2: #00a3ff;
  --blue_3: #008ffb;
  --blue_4: #627eea;
  --blue_5: #0033ad;

  --transparent_1: rgba(0, 0, 0, 0.1);
  --transparent_3: rgba(0, 0, 0, 0.3);
  --transparent_5: rgba(0, 0, 0, 0.5);
  --transparent_8: rgba(0, 0, 0, 0.8);
}
