@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --inter: Inter, san-serif;
  --fSize80: 5rem;
  --fSize72: 4.5rem;
  --fSize64: 4rem;
  --fSize56: 3.5rem;
  --fSize48: 3rem;
  --fSize44: 2.75rem;
  --fSize40: 2.5rem;
  --fSize38: 2.375rem;
  --fSize36: 2.25rem;
  --fSize32: 2rem;
  --fSize30: 1.875rem;
  --fSize28: 1.75rem;
  --fSize26: 1.625rem;
  --fSize24: 1.5rem;
  --fSize22: 1.375rem;
  --fSize20: 1.25rem;
  --fSize18: 1.125rem;
  --fSize16: 1rem;
  --fSize14: 0.875rem;
  --fSize12: 0.75rem;
  --fSize10: 0.625rem;
}