@import "./colors.scss";
@import "./fonts.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--inter);
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

input {
  outline: none;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-color: var(--black_3);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  &-form {
    .DateInput {
      &:not(&:last-child){
        margin-bottom: 2.5rem;
      }
    }
  }

  &-btn {
    display: block;
    padding: 0.5rem 1rem;
    background-color: var(--blue_2);
    color: var(--white_1);
    font-weight: 700;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    transition: transform .2s ease;
    margin: 0 auto;
    cursor: pointer;
  
    &:hover,
    &:focus {
      transform: scale(1.15);
    }
  }
}

